html {
  background-image:linear-gradient(forestgreen, lime, lightgreen);
  height: 1000px;
}

.winCount {
  border-style: double;
  border-width: thick;
  border-color: black;
  padding: 10px;
  position: absolute;
  background-color: lightgreen;
  height: 190px;
}
#XWins {
  top: 1%;
}
#OWins {
  top: 25%;
}

#vsBanner {
  background-color: lightgreen;
  border-style: double;
  border-width: thick;
  border-color: black;
  padding: 5px;
  position: absolute;
  left: 65%;
  font-size: 35px;
  width: fit-content;
}

.textBox {
  top: 35%;
  left: 45%;
  position: absolute;
  background-color: lightgrey;
  font-size: 20px;
  padding: 5px;
  border-style: double;
  border-width: thick;
  border-color: black;
}
#oUserName {
  top: 45%;
}

#vs {
  top: 70%;
  position: absolute;
  padding: 5px;
  width: fit-content;
  background-color: lightgreen;
  border-style: double;
  border-width: thick;
  border-color: black;
}

#title {
  padding: 5px;
  width: fit-content;
  background-color: lightgreen;
  border-style: double;
  border-width: thick;
  border-color: black;
  margin-left: 45%;
}

#turnTitle {
  padding: 5px;
  background-color: lightgreen;
  border-style: double;
  border-width: thick;
  border-color: black;
  position: absolute;
  left: 27%;
  width: fit-content;
}
#boardDiv {
  margin-left: 25%;

}
.box {
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  background-color: lightgrey;
  height: 250px;
  width: 250px;
  font-size: 100px;
}

#startButton {
  font-size: 75px;
  margin-top: 5%;
  margin-left: 36%;
  border-style: double;
  border-width: thick;
  border-color: black;
  padding: 10px;
  background-color: lightgreen;
}
#startButton:hover {
  background-color: lightgray;
}

#endButton {
  margin-bottom: 2.5%;
  margin-left: 49%;
  border-color: black;
  border-radius: 5%;
  padding: 10px;
  background-color: lightcoral;
}
#endbutton:hover {
  background-color: red;
}

.box:hover {
  background-color: rgb(245, 224, 37);
}

#victoryBanner {
  text-align: center;
  width: 1550px;
  position: absolute;
  top: 35%;
  background-color: white;
  padding: 50px;
}